.main {
  width: 100%;
  margin: auto;
  font-size: 15px;
  .container {
    width: 100%;
    max-width: 370px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 2em;
    }
  }
}
.form {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.5s;
    position: relative;
  }

  .inputcon {
    position: absolute;
    line-height: 140%;
    font-size: 14px;
    padding-left: 1.1em;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    opacity: 0.4;
  }
  .errorcon {
    position: absolute;
    line-height: 140%;
    font-size: 14px;
    top: 50%;
    padding-right: 1.1em;
    right: 0;
    transform: translate(0%, -50%);
    opacity: 0.7;
    color: rgb(224, 22, 22);
  }
  .errorMsg {
    width: 100%;
    position: absolute;
    top: -55px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffefef;
    color: #ff4c4c;
    border: 1px solid rgb(255 140 140);
    opacity: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .errorcon:hover + .errorMsg {
    z-index: 0;
    opacity: 1;
  }

  input,
  button {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 1.3em;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 140%;
  }
  input {
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.055);
    &::placeholder {
      opacity: 0.8;
    }
    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  button {
    background-color: black;
    color: white;
    margin-top: 12px;
    &.disabled {
      cursor: not-allowed;
      span {
        opacity: 0.4;
      }
    }
    &.enabled {
      transition: 0.2s;
      span {
        opacity: 0.8;
        transition: 0.1s;
      }
      &:hover span {
        opacity: 1;
      }
      &:active {
        transform: scale(0.97);
      }
    }
  }
}

.submitError {
  position: absolute;
  background-color: black;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: slideIn 3s forwards;
}

/* 애니메이션 키 프레임 정의 */
@keyframes slideIn {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}
